<h2>{{title}}</h2>

<form action="/auth/login" method="POST">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="hash" placeholder="Password" />
    <input type="submit" value="Logga in" />
</form>
<form action="/auth/register" method="POST">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="hash" placeholder="Password" />
    <input type="password" name="hashConfirm" placeholder="Confirm password" />
    <input type="submit" value="Registrera" />
</form>